$primary-color: #fc0;
$primary-bgcolor: rgba(55.59%, 44.41%, 0%, .4);
$admonitions:
    //class (type), icon filename, icon/border color, title bg color
    ('note', 'pen.svg', '#1b7aff', '#1b2027')
    ('summary', 'clipboard-list.svg', '#53dfdd', '#1e2525')
    ('info', 'info.svg', '#1b7aff', '#1b2027')
    ('todo', 'check-circle-2.svg', '#1b7aff', '#1b2027')
    ('tip', 'flame.svg', '#53dfdd', '#1e2525')
    ('done', 'check.svg', '#44cf6e', '#1d2520')
    ('help', 'help-circle.svg', '#e9973f', '#26221d')
    ('warning', 'alert-triangle.svg', '#e9973f', '#26221d')
    ('fail', 'x.svg', '#fb464c', '#271e1e')
    ('danger', 'zap.svg', '#fb464c', '#271e1e')
    ('bug', 'bug.svg', '#fb464c', '#271e1e')
    ('example', 'list.svg', '#a17df3', '#222026')
    ('quote', 'quote.svg', '#9e9e9e', '#222222')
;
.admonition {
	margin: 1.5625em 0;
	overflow: hidden;
	color: #CCC;
	page-break-inside: avoid;
	background-color: $primary-bgcolor;
	border-left: 4px solid $primary-color;
	border-radius: 4px;
}
.admonition p {
    padding: 0 1rem;
}
.admonition .admonition-title {
    color: #CCC;
    font-weight: bold;
    line-height: 1rem;
}
.admonition-title::before {
    margin-right: .5rem;
    width: 24px;
    height: 24px;
    display: inline-block;
    content: '';
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: text-bottom;
}
@each $name, $icon, $icon-color, $title-color in $admonitions {
    @if $icon-color {
        .admonition.#{$name} {
            border-left-color: #{$icon-color};
        }
    }
    @if $title-color {
        .admonition.#{$name} {
            background-color: #{$title-color};
        }
    }
    .admonition.#{$name} .admonition-title::before {
        -webkit-mask: url("/assets/icons/#{$icon}") no-repeat 50% 50%;
        mask: url("/assets/icons/#{$icon}") no-repeat 50% 50%;
        @if $icon-color {
            background-color: #{$icon-color};
        }
    }
}