@font-face {
    font-family: 'iA Writer Duo S';
    src: url("../assets/fonts/iAWriterDuoS-Regular.ttf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'iA Writer Duo S';
    src: url("../assets/fonts/iAWriterDuoS-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'iA Writer Duo S';
    src: url("../assets/fonts/iAWriterDuoS-Italic.ttf");
    font-style: italic;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'iA Writer Duo S';
    src: url("../assets/fonts/iAWriterDuoS-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
  }
  